/* Mobile Device Responsive */
@media screen and (max-width: 768px){
    .container{
        width: 340px;
    }
    /* banner section start */
    .banner{
        flex-direction: column;
    }
    header{
        margin-top: 30px;
    }
    .banner__content{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .banner__title{
        font-size: 40px;
        line-height: 50px;
    }
    .banner__img{
        width: 100%;
        background-size: center;
        background-position: -120px 0;
    }

    /* blog section css styles */
    .blog__section{
        flex-direction: column;
    }
    .navigation__bar{
        width: 100%;
        margin-bottom: 40px;
    }
    .blogs{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Footer Styles Section */
    .contact__us{
        flex-direction: column;
        align-items: center;
    }
    
}


/* Table Responsive Styles */
@media screen and (min-width: 768px) and (max-width: 1139px){
    .container{
        width: 750px;
    }
    header{
        margin-top: 40px;
    }
    .banner__content{
        width: 60%;
    }
    .banner__title{
        font-size: 40px;
        line-height: 50px;
    }
    .banner__img{
        width: 70%;
        background-size: cover;
        background-position: -25px 0px;
    }

    /* Blog Section CSS Styles */
    .blog__section{
        flex-direction: column;
    }
    .navigation__bar{
        flex-direction: row;
        width: 100%;
        background-color: transparent;
        justify-content: space-around;
    }
    .navigation__btn{
        border-color:#14213d;
        margin-bottom: 0;
    }
    .navigation__btn:first-child:hover{
        background-color:transparent;
        border-color: #14213d;
        color: #14213d;
    }
    .navigation__btn:first-child, .navigation__btn:last-child{
        margin-bottom: 0;
    }
    .navigation__btn:last-child{
        border-color: #14213d;
    }
    .navigation__btn:hover{
        background-color: #14213d;
        border-color: transparent;
        color: #fff;
    }
    .navigation__btn:last-child:hover{
        border-color: transparent;
        background-color: #14213d;
        color: #fff;
    }
    .blogs{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog:last-child{
        display: none;
    }
    .view__all{
        display: inline;
    }

}