.blog{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.124);
    border-radius: 5px;
}
.match>img{
    width: 100%;
    height: 150px;
}
.match>h2{
    text-align: center;
}
.navigation__btn:nth-child(2) {
    margin-bottom: 20px;
    background-color: #d62828;
    color: #fff;
    border: 3px solid transparent;
  }
.navigation__btn:last-child {
    color: #14213d;
    padding: 16px 25px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid transparent;
  }
  .navigation__btn:hover {
    background-color: transparent;
    border-color: #fff;
    transition: 0.3s;
    color: #fff;
  }