/* Mobile Device Responsive */
@media screen and (max-width: 768px) {
  /* blog section css styles */
  .blog__section {
    flex-direction: column;
  }
  .navigation__bar {
    width: 100%;
    margin-bottom: 40px;
  }
  .blogs {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablet Responsive Styles */
@media screen and (min-width: 768px) and (max-width: 1139px) {
  /* Blog Section CSS Styles */
  .blog__section {
    flex-direction: column;
  }
  .navigation__bar {
    flex-direction: row;
    width: 100%;
    background-color: transparent;
    justify-content: space-around;
  }
  .navigation__btn {
    border-color: #14213d;
    margin-bottom: 0;
  }
  .navigation__btn:first-child:hover {
    background-color: transparent;
    border-color: #14213d;
    color: #14213d;
  }
  .navigation__btn:first-child,
  .navigation__btn:last-child {
    margin-bottom: 0;
  }
  .navigation__btn:last-child {
    border-color: #14213d;
  }
  .navigation__btn:hover {
    background-color: #14213d;
    border-color: transparent;
    color: #fff;
  }
  .navigation__btn:last-child:hover {
    border-color: transparent;
    background-color: #14213d;
    color: #fff;
  }
  .blogs {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .blog:last-child {
    display: none;
  }
}
